# Defaults for mailcatcher initscript
# sourced by /etc/init.d/mailcatcher
# installed at /etc/default/mailcatcher by the maintainer scripts

# Additional options that are passed to the Daemon.
DAEMON_OPTS="
{% for key, value in elao_mailcatcher_config.iteritems() -%}
             --{{ key }}={{ value }}{{ '"' if loop.last else ' \\' }}
{% endfor %}

